<div class="p-6 border border-green-500 rounded-lg shadow">
  <h2 class="text-center text-green-600 mb-4">Registrar Donación</h2>
  <form [formGroup]="donacionForm" (ngSubmit)="registrarDonacion()">
    <div class="mb-4">
      <label for="eventoId" class="block text-green-600">Eventos disponibles</label>
      <select
        formControlName="eventoId"
        class="w-full border border-green-300 rounded p-2"
        (change)="onEventoChange($event)"
      >
        <option *ngFor="let evento of eventosDisponibles" [value]="evento.id_eventos">
          {{ evento.nombre }}
        </option>
      </select>
    </div>
    <div class="mb-4">
      <label for="cantidad" class="block text-green-600">Cantidad</label>
      <input
        type="number"
        formControlName="cantidad"
        class="w-full border border-green-300 rounded p-2"
      />
    </div>
    <div class="mb-4">
      <label for="tipo" class="block text-green-600">Tipo</label>
      <input
        type="text"
        formControlName="tipo_donacion"
        class="w-full border border-green-300 rounded p-2"
      />
    </div>
    <div class="flex justify-between">
      <button
        type="submit"
        class="bg-green-500 text-white rounded p-2"
        [disabled]="!donacionForm.valid"
      >
        Crear
      </button>
      <button
        type="button"
        class="border border-green-500 text-green-500 rounded p-2"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
