<div class="flex h-full w-full flex-col">
  <div class="flex w-full  flex-1">
    <aside class="p-4 border-r flex flex-col justify-between bg-white border-solid border-green-500 duration-300 bg-transparent" [ngClass]="_servicio.width">
    <div>
      <div class="w-full flex justify-end translate-x-[1.9rem] ">
          <div (click)="menu()" class="w-7 h-7 flex justify-center items-center object-fill cursor-pointer rounded-full border border-green-600 bg-white">
            <img  src="icons8-cierre-de-sesión-redondeado-hacia-la-izquierda-24.png" [ngClass]="rotate" alt="" class="w-full duration-700">
          </div>
        </div>
        <nav *ngIf="_servicio.seemenu" class="space-y-4 flex flex-col">
            <a routerLinkActive="activado scale-105 duration-500 border-[#61A146] text-[#61A146] bg-white shadow-lg activado shadow-black/50" class="flex buton items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" routerLink="publicaciones"  > <img src="house.png" alt="check" class="w-[30px] border-white mr-6 rounded border h-[30px]">Publicaciones</a>
            <a routerLinkActive="activado scale-105 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" class="flex buton items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" routerLink="eventos"> <img src="chek.png" alt="check" class="w-[30px] border-white mr-6 rounded border h-[30px]">Eventos</a>
            <a routerLinkActive="activado scale-105 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" class="flex buton items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" routerLink="foros" > <img src="handshake.png" alt="handshake" class="w-[30px] border-white rounded border mr-6 h-[30px]">Foros</a>
            <a routerLinkActive="activado scale-105 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" class="flex buton items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" routerLink="chats" > <img src="message.png" alt="handshake" class="w-[30px] border-white rounded border mr-6 h-[30px]">Chats</a>
        </nav> 
        <nav *ngIf="!_servicio.seemenu" class="space-y-4 flex flex-col">
          <a 
            routerLinkActive="activado scale-110 duration-500 border-[#61A146] bg-white shadow-xl activado shadow-black/50" 
            class="flex  buton items-center justify-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" 
            routerLink="publicaciones"> 
              <img src="house.png" alt="check" class="w-[30px] border-white  rounded border h-[30px]">
          </a>
          <a 
            routerLinkActive="activado scale-110 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" 
            class="flex buton justify-center items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" 
            routerLink="eventos"> 
              <img src="chek.png" alt="check" class="w-[30px] border-white rounded border h-[30px]">
            </a>
          <a 
            routerLinkActive="activado scale-110 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" 
            class="flex buton justify-center items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" 
            routerLink="foros" > 
              <img src="handshake.png" alt="handshake" class="w-[30px] border-white rounded border  h-[30px]">
          </a>
          <a 
            routerLinkActive="activado scale-110 duration-500 border-[#61A146] bg-white shadow-lg activado shadow-black/50" 
            class="flex buton justify-center items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" 
            routerLink="chats" > 
              <img src="message.png" alt="handshake" class="w-[30px] border-white rounded border  h-[30px]">
          </a>
        </nav>
      </div>
      <div>
        <a *ngIf="_servicio.seemenu" routerLink="Donaciones" routerLinkActive="activado scale-105 duration-500 border-[#61A146] text-[#61A146] bg-white shadow-lg activado shadow-black/50" 
        class="flex buton items-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" > <img src="Donacion.png" 
        alt="check" class="w-[30px] border-white mr-6 rounded border h-[30px]"> Donaciones </a>
        <a *ngIf="!_servicio.seemenu"
            routerLinkActive="activado scale-110 duration-500 border-[#61A146] bg-white shadow-xl activado shadow-black/50" 
            class="flex  buton items-center justify-center border bg-[#61A146]  text-white  p-2 rounded hover:bg-white  hover:border-[#61A146] hover:text-[#61A146]" 
            routerLink="Donaciones"> 
              <img src="Donacion.png" alt="check" class="w-[30px] border-white  rounded border h-[30px]">
          </a>
      </div>
      </aside>
    </div>
  </div>