<div  class=" flex pb-2 justify-between ">
  <h1 class="px-5">{{publicacion.titulo}}</h1>
  <div class="flex w-1/2 items-center h-full justify-end">
    <span class="text-sm text-gray-500">{{ publicacion.fecha }}</span>
    <span *ngIf="!menu" (click)="desplegarOpciones()" class="cursor-pointer flex justify-center items-center w-7 rounded-lg ml-2 h-7 bg-gray-200"> + </span>
    <span *ngIf="menu" (click)="desplegarOpciones()" class="cursor-pointer  flex justify-center items-center w-7 rounded-lg ml-2 h-7 bg-red-600 text-white"> x </span>
  </div>
</div>
<div  class="border  object-cover border-dashed border-green-800 flex justify-between rounded-xl">
  <div class="flex w-3/5 justify-between items-center p-5 flex-col">
    <span class="w-full h-1/5 font-semibold  text-green-800">Publicado por: {{publicacion.nombre_usuario}}</span>
    <div class="h-4/5 flex w-full  items-center text-justify">
      <p class="text-gray-700 w-full text-justify">{{ publicacion.descripcion }}</p>
    </div>
  </div>
  <div *ngIf="!menu" class="w-2/5 duration-1000 flex-col flex items-center  object-cover h-[14rem]">
    <img [src]="publicacion.imagen" alt="Imagen de publicación" class="rounded-r-xl w-full h-full object-cover">
  </div>
  <div class="p-5 w-2/5 h-[14rem] rounded-r-xl items-center text-white  duration-1000   flex flex-col justify-evenly" ngClass="" *ngIf="menu">
    <button (click)="handleClickEditar()" class="bg-green-600 text-white py-2 w-32 px-4 rounded-md hover:bg-green-700">Editar</button>
    <button (click)="eliminarPublicacion()" class="border border-green-600 text-green-600 w-32 py-2 px-4 rounded-md hover:bg-green-100">Eliminar</button>
  </div>
</div>
  
  

