<header class="flex items-center h-full justify-between shadow-lg">
    <div class="flex items-center object-cover ">
      <img src="LOGO.png" alt="Logo" class="w-[80px] h-[80px] rounded-full" >
      <h1 class="text-2xl font-bold text-green-800">ECONEXION</h1>
    </div>
    <div class="text-green-600 text-lg bg-green-100 p-2 rounded-lg" *ngIf="_perfil_service.chatWith_user.id_usuario !=0"> Chat con {{_perfil_service.chatWith_user.nombre_usuario}} </div>
    <div class="flex space-x-3 mx-3">

      <label  (click)="activarBusqueda()" *ngIf="activarInput" class="text-green-800 flex justify-center items-center w-[50px] h-[50px] rounded-full object-cover border border-[#61A146] "><img src="search.png" alt="search" class="w-[25px] h-[25px]"> </label>
      <label   *ngIf="!activarInput" class="text-green-800 flex justify-between items-center w-[500px] h-[50px] rounded-full object-cover border border-[#61A146] "><div class="inputBox_container bg-green-600">
        <svg class="search_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" alt="search icon">
          <path d="M46.599 46.599a4.498 4.498 0 0 1-6.363 0l-7.941-7.941C29.028 40.749 25.167 42 21 42 9.402 42 0 32.598 0 21S9.402 0 21 0s21 9.402 21 21c0 4.167-1.251 8.028-3.342 11.295l7.941 7.941a4.498 4.498 0 0 1 0 6.363zM21 6C12.717 6 6 12.714 6 21s6.717 15 15 15c8.286 0 15-6.714 15-15S29.286 6 21 6z">
          </path>
        </svg>
        <input class="inputBox" id="inputBox" type="text" placeholder="Realiza una busqueda">
      </div> <p (click)="activarBusqueda()" class="flex justify-center items-center m-2 rounded-full w-[40px] h-[40px]  text-green-600 border border-green-600" >X</p> </label>
      <button 
    (click)="toggleModal()"
    class="text-green-800 flex justify-center items-center w-[50px] h-[50px] rounded-full object-cover bg-[#61A146]">
    <img [src]="user.imagen_usuario" alt="user" class="w-[35px] h-[35px] rounded-full" />
</button>

<!-- Modal -->
<div 
    *ngIf="isModalOpen" 
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white w-80 p-6 rounded-lg shadow-lg relative">
        <!-- Cerrar modal -->
        <button 
            (click)="toggleModal()"
            class="absolute top-2 right-2ext-green-800 hover:text-green-900 w-[35px] h-[35px]">
            <img src="cross.png" alt="salir">
        </button>

        <!-- Contenido del modal -->
        <div class="flex flex-col items-center">
            <img [src]="user.imagen_usuario" alt="user" class="w-20 h-20 rounded-full mb-4" />
            <h2 class="text-xl text-green-800  font-semibold ext-green-800">{{ user.nombre_usuario }} {{user.apellidos_usuario}}</h2>
            <div class="mt-4 space-y-2 w-full">
                <button 
                (click)="navigateToProfile()"
                    class="border m-2 border-green-600 text-green-600 w-full py-2 px-4 rounded-md hover:bg-green-100">
                    Ir a mi perfil
                </button>
                <button 
                    (click)="logout()"
                    class=" bg-green-600 text-white py-2 m-2 px-4 rounded-md hover:bg-green-700 w-full">
                    Cerrar sesión
                </button>
            </div>
        </div>
    </div>
</div>
    </div>
</header>
