    <form
  [formGroup]="actulizarperfilForm"
  class="flex text-[#61A146] flex-col lg:flex-row flex-wrap rounded-xl justify-between px-5 bg-white border border-black"
  (ngSubmit)="registrarUsuario()"
  enctype="multipart/form-data"
  >
  <h1 class="w-full text-center flex justify-center items-center rounded-lg bg-white  my-5 text-[#61A146] text-2xl p-2">
    Ingresa tus datos
  </h1>
    <!-- Nombre -->
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col">
      <span>Nombre:</span>
      <input
        class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1"
        type="text"
        formControlName="nombre_usuario"
        placeholder="Introduzca su nombre de usuario"
      />
      <small
        *ngIf="
          actulizarperfilForm.get('nombre_usuario')?.invalid &&
          actulizarperfilForm.get('nombre_usuario')?.touched
        "
        class="text-red-500"
      >
        El nombre es obligatorio.
      </small>
    </label>
  
      <!-- Correo Electrónico -->
      <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col">
        <span>Correo electrónico:</span>
        <input
          class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1"
          type="email"
          formControlName="correo_usuario"
          placeholder="Introduzca su correo electrónico"
        />
        <small
          *ngIf="
            actulizarperfilForm.get('correo_usuario')?.invalid &&
            actulizarperfilForm.get('correo_usuario')?.touched
          "
          class="text-red-500"
        >
          El correo electrónico es obligatorio y debe ser válido.
        </small>
      </label>
  
    <!-- Apellidos -->
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col">
      <span>Apellidos:</span>
      <input
        class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1"
        type="text"
        formControlName="apellidos_usuario"
        placeholder="Introduzca sus apellidos"
      />
      <small
        *ngIf="
          actulizarperfilForm.get('apellidos_usuario')?.invalid &&
          actulizarperfilForm.get('apellidos_usuario')?.touched
        "
        class="text-red-500"
      >
        Los apellidos son obligatorios.
      </small>
    </label>

  
     <!-- Teléfono -->
     <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col">
      <span>Teléfono:</span>
      <input
      [maxLength]="10"
      [minlength]="10"
        class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1"
        type="text"
        formControlName="telefono_usuario"
        placeholder="Introduzca su número de teléfono"
      />
      <small
        *ngIf="
          actulizarperfilForm.get('telefono_usuario')?.invalid &&
          actulizarperfilForm.get('telefono_usuario')?.touched 
        "
        class="text-red-500"
      >
        introduaca un numero de telefono valido.
      </small>
    </label>
  
    <!-- Descripción -->
    <label class="my-2 lg:px-5 w-full flex flex-col">
      <span>Descripción:</span>
      <textarea
        class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1"
        rows="4"
        formControlName="descripcion"
        placeholder="Introduzca una breve descripción de usted"
      ></textarea>
      <small
        *ngIf="
          actulizarperfilForm.get('descripcion')?.invalid &&
          actulizarperfilForm.get('descripcion')?.touched
        "
        class="text-red-500"
      >
        La descripción es obligatoria y debe contener al menos 10 caracteres.
      </small>
    </label>
  
    <!-- Foto de Perfil -->
    <label class="my-2 lg:px-5 lg:w-full items-center justify-center flex flex-col">
      <span>Foto de perfil:</span>
      <div class="w-full flex justify-center border-2 border-[#BDE7AC] ">
        <input
        class=" flex justify-center items-center  text-center file:bg-transparent file:border-none cursor-pointer rounded-lg p-5"
        type="file"
        (change)="onImagenSeleccionada($event)"
        accept="image/*"
        />
      </div>
    </label>
  
    <!-- Botón de Envío -->
     <div class="flex w-full justify-evenly">
    <button class="p-3 my-5 text-white bg-[#61A146] rounded-lg w-[40%] hover:bg-[#3a7122] "type="submit">Actualizar usuario</button>
      <button (click)="cancelar()" class="border border-green-600 text-green-600 p-3 my-5 rounded-lg hover:bg-green-100 w-[40%] text-center" > Cancelar</button>
    </div>
  </form>
  
  
  <div *ngIf="creado" class="w-full h-screen absolute top-0 left-0 bg-black/70">
  
  </div>
  <div *ngIf="error" class="w-full h-full absolute top-0 left-0 bg-black/70 rounded-lg flex justify-center items-center">
  
    <button (click)="closeError()" class="p-2 bg-green-600 text-white rounded-lg">Aceptar</button>
  </div>