<div class="w-full h-full cursor-pointer select-none"  (click)="irAlChat()">
    <div class="flex w-full justify-between">
        <span class="text-green-600 text-xl mx-5 "> {{userData.nombre_usuario}} </span>
        <span class="text-sm"> ultimo mensaje fecha </span>
    </div>
    <div class="flex w-full  justify-between">
        <span class="text-black/70 w-[calc(85%)] text-sm mx-10"> {{chatActual.ultimo_msj}} </span>
        <span class="bg-green-500 w-5 text-sm text-white h-5 flex justify-center items-center rounded-full"> 1 </span>
    </div>
</div>
