<div class="w-full flex text-center items-center justify-center flex-col h-full" *ngIf="eventos.length <= 0">
    <div class="container">
        <div class="tree">
            <div class="branch" style="--x:0">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:1">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:2">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            </div>
            <div class="branch" style="--x:3">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            </div>
            <div class="stem">
            <span style="--i:0;"></span>
            <span style="--i:1;"></span>
            <span style="--i:2;"></span>
            <span style="--i:3;"></span>
            </div>
            <span class="shadow"></span>
        </div>
    </div>
    Upss, aun no tienes eventos
    <a routerLink="formeventos" class="text-green-600 mx-2 border-b border-green-600"> crea una</a>
</div>
<div *ngIf="eventos.length  > 0" class="w-full flex items-center h-full flex-col">
    <div *ngFor="let evento of eventos" class="bg-white  shadow-lg rounded-xl p-4 border w-3/5">
        <app-card-evento [evento]="evento"></app-card-evento>
    </div>
</div>