<div class="border border-green-500 rounded-lg p-4 mb-4">
    <div class="flex justify-between">
      <span class="w-1/3 p-2 flex justify-evenly items-center text-green-600 bg-blue-100/50 rounded-2xl"> <strong>Nombre del evento: </strong> {{ evento.nombre }} <i (click)="handleClickExpandEvent()" class="w-5 mx-5 text-white rounded bg-green-600 flex justify-center object-fill items-center h-5"> <img src="expandir.png" alt=""> </i> </span>
      <span class="w-1/3 flex justify-end"><strong>Fecha: </strong> {{donacion.fecha}}</span>
    </div>
    <div class="flex justify-between mt-2">
      <span><strong>Tipo:</strong> {{ donacion.tipo_donacion}}</span>
      <span><strong>Cantidad:</strong> {{ donacion.cantidad }}</span>
      <span><strong>Estatus:</strong> {{ donacion.estatus }}</span>
    </div>
    <div class="w-full flex justify-end">
      <button (click)="actualizarDonacion(donacion.id_donaciones!)"  class=" text-white rounded w-[100px] m-3 p-2"
      [disabled]="donacion.estatus === 'Terminado' " [ngClass]="estado"
      > Editar </button>
      <button (click)="eliminarDonacion(donacion.id_donaciones!)" class="border border-green-500 text-green-500 rounded w-[100px] m-3 p-2"> Eliminar </button>
    </div>
  </div>


  <!--    Modal     -->
  <div class="w-screen h-screen flex flex-col justify-center items-center absolute top-0 left-0 bg-black/60" *ngIf="modal">
    <div class="w-[420px] h-[520px] flex justify-between p-10 items-center flex-col border bg-white/80">
      <h1> {{ evento.nombre }} </h1>
      <div class=" flex flex-col bg-blue-100/50 w-full">
        <div class="w-full p-3 flex"> 
          <span class="w-1/2"> Descripcion: </span>  <span class="w-1/2 text-center"> {{ evento.descripcion }} </span>  
        </div>
        <div class="w-full p-3 flex"> 
          <span class="w-1/2"> Ubicacion: </span>  <span class="w-1/2 text-center"> {{ evento.ubicacion }} </span>  
        </div>
        <div class="w-full p-3 flex"> 
          <span class="w-1/2"> Fecha de Inicio: </span>  <span class="w-1/2 text-center"> {{ evento.fecha_creacion }} </span>  
        </div>
        <div class="w-full p-3 flex"> 
          <span class="w-1/2"> Fecha de Termino: </span>  <span class="w-1/2 text-center"> {{ evento.fecha_termino }} </span>  
        </div>
        
        <div class="w-full p-3 flex"> 
          <span class="w-1/2"> Estatus: </span>  <span class="w-1/2 text-center"> {{ evento.estatus }} </span>  
        </div>
      </div>
      <button (click)="handleClickCloseModal()" type="submit" class="bg-green-600 text-white rounded p-2">Cancelar</button>
    </div>
  </div>
  