<div class="border border-green-500 rounded-lg p-4 mb-4">
    <div class="flex justify-between">
      <span><strong>Nombre:</strong> {{ donacion.id_donacion_usuario}}</span>
      <span><strong>Evento:</strong> {{ donacion.id_evento }}</span>
    </div>
    <div class="flex justify-between mt-2">
      <span><strong>Tipo:</strong> {{ donacion.tipo_donacion}}</span>
      <span><strong>Cantidad:</strong> {{ donacion.cantidad }}</span>
      <span><strong>Estatus:</strong> {{ donacion.estatus }}</span>
    </div>
  </div>
  