
<div class="  h-[15%] flex justify-center bg-transparent p-5 w-full">
    <div class="flex justify-between px-5  w-3/5 items-center border border-dashed border-[#61A146] bg-white rounded-xl text-[#61A146]" >  
        <h1 (click)="HandleClickOpenAddContact()" class="cursor-pointer">Agregar Contacto</h1>
        <a routerLink="/red/chats" class=" text-2xl ">Chats</a>
        <h1 (click)="HandleClickAddContact()" class="cursor-pointer">Agregar Contacto</h1>
        <a routerLink="/red/chats" class=" text-2xl ">Chats</a>
        <a routerLink="contactos">Contactos</a>
    </div>
</div>
<div class=" h-[85%]" id="scrollme">
    <router-outlet></router-outlet>
</div>


<div *ngIf="modalAddContact" class="absolute top-0 left-0 w-full h-screen bg-black/80 flex  justify-center items-center">
    <form [formGroup]="Formulario" (submit)="handleClickAddContact()" class="flex flex-col justify-between w-80 h-52 bg-green-600 p-2">
        <h1 class="w-full text-2xl text-center p-2 text-white ">Agrega un contacto</h1>
        <label for="Email" class="w-full text-white p-3"> Email:
            <input formControlName="usuario_correo" class="w-full text-green-600 p-2 rounded" placeholder="Correo electronico del contacto" type="email" name="" id="Email">
        </label>
        <div class="w-full flex justify-around p-2">
            <button class="border text-white  border-white hover:text-green-600 p-2 rounded-md hover:bg-green-100" type="submit"  > Agregar </button>            
            <button class="border text-green-600  border-green-600  p-2 rounded-md bg-green-100"  (click)="handleClickCloseModalAddContact()" > Cancelar </button>
        </div>
    </form>
</div>


