<h1 class="w-full text-center text-[#61A146] text-4xl pb-5">
    Registrate
</h1>
<form class="flex text-[#61A146] flex-col lg:flex-row flex-wrap rounded-xl justify-between p-5 bg-white border border-black" (submit)="registrarUsuario()">
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Nombre:</span>
        <input class="w-full text-center border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col" for="">
        <span>Apellido paterno</span>
        <input class="w-full  text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Apellido materno</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label><label class="my-2  lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Correo electronico:</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Telefono:</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Contraseña:</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Confirme su contraseña:</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="text" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <label class="my-2 lg:px-5 lg:w-1/2 flex flex-col"  for="">
        <span>Has participado en eventos ambientales?</span>
        <input class="w-full text-center  border-2 rounded-lg border-[#BDE7AC] p-1" type="checkbox" name="name" placeholder="Introduzca su nombre de usuario">
    </label>
    <button class="p-3 my-5 text-white bg-[#61A146] rounded-lg w-full">Crear usuario</button>
</form>