<div class="w-full h-screen " >
    <div class="sticky top-0 h-1/6 ">
        <app-nav/>
    </div>
    <div class=" flex w-full h-5/6">
        <div [ngClass]="_servicio.sidebarWidth" class="h-full duration-300 transition-all">
            <app-sidebar/>
        </div>
        <div [ngClass]="_servicio.outletWidth" class="bg-white h-full p-5">
            <!--<div [@routeAnimations]="prepareRoute(outlet)">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>-->
            <router-outlet/>
        </div>
    </div>
</div>